<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}" id="favicon">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="{{ url_for('static', filename='js/toast.min.js') }}"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body class="flex flex-col min-h-dvh bg-gray-100">
        <!-- Header -->
        <nav class="px-6 py-4 bg-white shadow ">
            <div class="flex items-center max-w-screen-lg mx-auto">
                <a href="{{ url_for('index') }}" class="flex-auto">
                    <img class="h-8" src="{{ url_for('static', filename='img/O.png') }}"
                        alt="Ochannel site logo" />
                </a>
                <div>
                    <!-- <a href="#" class="mx-2 hover:text-blue-500">BoardList</a> -->
                    <!-- <a href="#" class="mx-2 hover:text-blue-500">Guideline</a> -->
                    <a href="{{ url_for('index') }}" class="mx-2 hover:text-blue-500">BoardList</a>
                    <a href="{{ url_for('guideline') }}" class="mx-2 hover:text-blue-500">Guideline</a>
                </div>
            </div>
        </nav>
        <!-- Main -->
        <main class="w-full max-w-screen-lg p-2 mx-auto mb-auto text-gray-600">
            {% block content %}{% endblock %}
        </main>
        <!-- Footer -->
        <footer class="px-6 py-2 bg-gray-800 sticky top-full">
            <div class="flex items-center max-w-screen-lg mx-auto text-gray-100">
                <a href="#" class="flex-auto">
                    <img class="h-7" src="../static/img/O.png" alt="Ochannel site logo" />
                </a>
                    <p class="text-sm white">
                        管理人: おぢぞう
                        <a href="mailto:sinissi@gmail.com" class="text-blue-600 hover:underline">sinissi@gmail.com</a>
                    </p>
            </div>
        </footer>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <script type="text/javascript">
        iqwerty.toast.toast("{{ message }}")
    </script>
    {% endfor %}
    {% endif %}
    {% endwith %}
    </body>
</html>